{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'chemex/main.css' %}">

<div>
    {% load static %} <img class="image--logo" src="{% static 'images/1Crema.png' %}" alt="test"/>
    {% load static %} <img class="image--logo" src="{% static 'images/2Intell.png' %}" alt="test"/>
    {% load static %} <img class="image--logo" src="{% static 'images/3Stump.png' %}" alt="test"/>
    {% load static %} <img class="image--logo" src="{% static 'images/4Blue.png' %}" alt="test"/>

</div>