<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Brew</title>
</head>

<body>
    {% block nav %} {% include "chemex/nav_bar.html" with nav_location=view.location %}{% endblock %}
    <div>
        <div><a href="{% url 'brew_history' %}">Brew History</a></div>
        <div><a href="{% url 'favorite_roaster' %}">Favorite Roaster</a></div>
    </div>
    <div>Coffee Tracker Tab</div>
    <div><a href="{% url 'index' %}">Back</a></div>
    {% block button %} {% endblock %}

</body>

</html>