{% block nav %} {% include "chemex/nav_bar.html" with nav_location=view.location %}{% endblock %}
<div>My Favorite Roaster</div>

{% for userRoaster in roaster_list %}
<div>
    <h4>{{userRoaster.name}}</h4>
    <div>{{userRoaster.street}}</div>
    <div>{{userRoaster.city}}, {{userRoaster.state}}, {{userRoaster.zipcode}}</div>
    <span>{{userRoaster.phone}}</span>
    <div><a href="{% url 'update_roaster' pk=userRoaster.pk %}">Update</a></div>
    <div><a href="{% url 'delete_roaster' pk=userRoaster.pk %}">Delete</a></div>

</div>
{% endfor %}

{% block button %} {% endblock %}