<!DOCTYPE html>
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'chemex/main.css' %}">
<html>

<head>
    <meta charset="utf-8">
    <title>Brew</title>
</head>

<body>
    {% block nav %} {% include "chemex/nav_bar.html" with nav_location=view.location %}{% endblock %}

    <h1>Welcome to Brew!</h1>
    <div><a href="{% url 'brew_calculator' %}">Brew Calculator</a></div>
    {% if user.is_authenticated %}
    <div><a href="{% url 'coffee_tracker' %}">Coffee Tracker</a></div>
    {% block button %} {% endblock %}
    {% endif %}

</body>

</html>