{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'chemex/navbar.css' %}">


    <div class="flex--container">
        <span class="flex--title">
            <a href="{% url 'index' %}"> Brew</a>
        </span>
        <span class="flex--auth">
            {% if user.is_authenticated %}
            <a href="{% url 'logged_out' %}">Logout</a>
        </span>
        {% else %}
        <span class="flex--auth">
            <a href="{% url 'login' %}">Login</a>
        </span>
        {% endif %}
    </div>
    {% if user.is_anonymous %}
    <p class="test">Login to save your brews!</p>
    {% endif %}

    {% block cool %} {% endblock %}

