
h1 {
    display: flex;
    justify-content: center;
}

.main--container {
    display: flex;
    justify-content: space-around;
    margin: 10% 10% 0 10%;
}

.left--item {
    border: 1px solid gray;
    padding: 20px;
}

.right--item {
    border: 1px solid gray;
    padding: 20px;
}

.left--item:hover {
    background-color: lightgrey;
}

.right--item:hover {
    background-color: lightgrey;
}

.more--info {
    margin-top: 5%;
}

.image--1 {
    width: 120%;
    height: 75%;
}

.image--2 {
    width: 100%;
    height: 50%;
}

.words--container {
    position: relative;
    text-align: center;
    color: black;
}

.words {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
}
.words2 {
    position: absolute;
    top: 60%;
    left: 35%;
    transform: translate(-50%, -50%);
}

.footer--content {
    height: 100px;
    width: 100%;
    background-color: red;
}