* {
    margin: 0;
}


.flex--container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(50, 50, 50, .25);
    height: 40px;
    /* box-shadow: 100px 100px green; */
}

.flex--title {
    margin: 15px;
}

.flex--auth {
    margin: 15px;
}

.flex--title > a {
    color: black;
}
.flex--auth > a {
    color: white;
}

a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}